@use "../../assets/styles/variables" as *;

.button {
  min-width: 80px;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  background-color: transparent;
  align-items: center;
  width: 10rem;
  height: 2rem;
  margin-top: 1rem;
}

.primary {
  border: 2px solid $color-tertiary;
}

.secondary {
  border: 2px solid $color-secondary;
}

@media screen and (min-width: 961px) {
.primary {
  margin-top: 3rem;
}
}