@use "../../assets/styles/variables" as *;

.button {
  min-width: 80px;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  background-color: transparent;
  align-items: center;
  width: 10rem;
  height: 3rem;
  margin-top: 6vh;
  font-size: 15px;
}

.primary {
  border: 2px solid $color-tertiary;
}

.secondary {
  border: 2px solid $color-secondary;
}

@media screen and (min-width: 961px) {
  .button {
    margin: 1vh;
    width: 13rem;
  }

.primary {
  margin-top: 4rem;
}
}