@use "../../assets/styles/variables" as *;

.log-form {
  width: 80%;
  margin-left: 2.5rem;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--form {
    display: block;
    width: 100%;
    padding: 1em;
  }
  
  &--title {
    width: 100%;
    color: lighten(grey, 20%);
    font-size: 1.35em;
    display: block;
    background: $color-secondary;
    width: 100%;
    text-transform: uppercase;
    padding: .75em 1em .75em 1.5em;
    box-shadow:inset 0px 1px 1px fadeout(white, 95%);
    margin: 0;
    font-weight: 200;
  }
  
  input {
    display: block;
    margin: auto auto;
    width: 80%;
    margin-bottom: 1em;
    padding: .5em 0;
    border: none;
    border-bottom: 1px solid #eaeaea;
    padding: 1em;
    color: #757575;
    border-radius: 1rem;
    &:focus {
      outline: none;
    }
  }
}

@media screen and (min-width: 961px) {
  .log-form {
    width: 94%;
    margin-left: 0rem;
    margin-top: 0;
  }
}