@use "../../assets/styles/typography" as *;
@use "../../assets/styles/variables" as *;

* {
  margin: 0;
  padding: 0;
}

.events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient($color-primary, $color-secondary);
  align-items: center;
  &__container {
    background-color: $color-tertiary;
    border-radius: 0.5rem;
    width: fit-content;
    box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem black;
    overflow: hidden;
  }
}

@media screen and (min-width: 961px) {
  .events {
    flex-direction: row;
    &__container {
      display: flex;
      align-items: center;
      height: 70vh;
      width: fit-content;
    }
  }
}
