@use "../../assets/styles/variables" as *;

.rightmenu {
  display: none;
}

@media screen and (min-width: 961px) {
  .rightmenu {
    display: block;
    width: 17rem;
    height: 100%;
    background-color: $color-primary;
  }
}
